<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;900&family=Open+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Book View</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">booklist</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
          <a class="nav-link" href="add">Add Book</a>
          <a class="nav-link right-link" href="/">About</a>
        </div>
      </div>
    </nav>
    <div class="container">

    <!--  <div class="">
        <form class="add-form" action="/add" method="get">
          <td class="centered"><button class="btn btn-light add-button" type="submit" name="button">Add Book</button></td>
        </form>
        <form class="add-form" action="/add" method="get">
          <td class="centered flexed"><button class="btn btn-light add-button" type="submit" name="button">Add Book</button></td>
        </form>
      </div> -->




      <table class="table table-light table-striped">
      <thead class="thead-light">
        <th  class="left-th">Book Name</th>
        <th>Author</th>
        <th>Genre</th>



        <th class="right-th"></th>
      </thead>

  <%if(newBooks.length === 0 ){%>
    <tr>
      <td>No books yet 🥺</td>
      <td>🥺</td>
      <td>🥺</td>
      <td>🥺</td>
      <td>🥺</td>
      <td></td>

    </tr>
  <%}%>


<%if(newBooks.lenght!=0) {%>
  <% newBooks.forEach(function(book){  %>
    <tr>
      <td class="book-title"><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= book.genre %></td>
      <!-- <td><%= book.status %></td> -->
      <td class="two-buttons">
      <form class="d-inline" action="/info/<%= book.title %>" method="get">
          <button class="btn btn-sm btn-outline-dark" type="submit" name="button">More Info</button>
          <input type="hidden" name="bookId" value="<%= book._id %>">
      </form>
      <form class="d-inline" action="/update/<%= book.title %>" method="get">
          <button class="btn btn-sm btn-dark " type="submit" name="button">Update</button>
      </form>

      </td>
    </tr>
  <% }) %>
<%}%>

      </table>

    </div>


  </body>
</html>
